.main{
    display: flex;
    &__nav{
        display: flex;
        justify-content: space-between;
    }
    &__list{
        list-style-type: none;
        display: flex;
    }
    &__div{
        display: flex;
        align-items: center;
    }
    &__bobur{
        display: inline-block;
    }
    &__item{
        margin: 10px;
    }
    &__link{
        margin-left: 400px;
        text-decoration: none;
        background-color: #1DA1F2;
        border: 2px solid #1DA1F2;
        color: #fff;
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: bold;
        &:hover{
            background-color: transparent;
            color: #1DA1F2;
        }
    }
    &__input{
        width: 100%;
        border: none;
        outline: none;
        padding: 10px;
    }
}
