.footer{
    position: relative;
    right: 0;
    margin: 10px;
    &__div{
        // width: 220px;
        display: flex;
        background-color: #EFF3F4;
        justify-content: space-between;
        padding: 10px 30px;
        border-radius: 10px;
    }
    &__input{
        border: none;
        outline: none;
        background-color: #EFF3F4;
    }
    &__list{
        list-style-type: none;
        padding: 25px;
        background-color: #F7F9F9;
        border-radius: 10px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text{
        color: #898a8d;
    }
    &__link{
        color: #1DA1F2;
        font-weight: bold;
        text-decoration: none;
    }
    &__follow{
        text-decoration: none;
        color: #fff;
        background-color: #000;
        padding: 8px 18px;
        border-radius: 20px;
        border: 3px solid #000;
        font-weight: bold;
        &:hover{
            background-color: transparent;
            color: #000;
        }
    }
}